@import url("https://fonts.googleapis.com/css?family=Padauk");
* {
  font-family: "Padauk" !important;
}

@import "../variables/Variables.scss";

.member-stats-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 10rem;
  max-height: 15rem;
  padding: 0;
  margin: 0;
  background-image: url("../assets/member-search-upscaled-169.png");
  border-top-right-radius: 6px 6px;
  border-bottom-right-radius: 6px 6px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  aspect-ratio: 16/9 !important;
}

.iracing-stats-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 10rem;
  max-height: 15rem;
  padding: 0;
  margin: 0;
  background-image: url("../assets/graph-screenshot-upscale-16x9.png");
  border-top-right-radius: 6px 6px;
  border-bottom-right-radius: 6px 6px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  aspect-ratio: 16/9 !important;
}

.incident-stats-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 10rem;
  max-height: 15rem;
  max-width: 1100px;
  padding: 0;
  margin: 0;
  background-image: url("../assets/2xwideincSS169.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  aspect-ratio: 16/9;
  border-top-right-radius: 6px 6px;
  border-bottom-right-radius: 6px 6px;
}

.member-stats-left {
  display: flex;
  font-size: .7rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(249, 249, 249) 0%, rgb(238, 238, 238) 81.3% );
  color: $darkGray;
  max-width: 10rem !important;
  border-top-left-radius: 6px 6px;
  border-bottom-left-radius: 6px 6px;
  line-height: 6rem;
}

.member-stats-left p{
  font-size: .9rem;
}

.iracing-stats-left {
  display: flex;
  font-size: .7rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(249, 249, 249) 0%, rgb(238, 238, 238) 81.3% );
  color: $darkGray;
  max-width: 10rem !important;
  border-top-left-radius: 6px 6px;
  border-bottom-left-radius: 6px 6px;
  line-height: 6rem;
}

.iracing-stats-left p{
  font-size: .9rem;
}

.incident-stats-left {
  display: flex;
  font-size: .7rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(249, 249, 249) 0%, rgb(238, 238, 238) 81.3% );
  color: $darkGray;
  max-width: 10rem !important;
  border-top-left-radius: 6px 6px;
  border-bottom-left-radius: 6px 6px;
  line-height: 6rem;
}

.incident-stats-left p{
  font-size: .9rem;
}

.member-stats-row {
  margin-bottom: 2rem;
  margin-top: 1rem !important;
  box-shadow: 2px 2px 1px 1px rgba(231, 231, 231, 0.2);
  border-top-right-radius: 6px 6px;
  border-bottom-right-radius: 6px 6px;
  border-top-left-radius: 6px 6px;
  border-bottom-left-radius: 6px 6px;
  max-width: 42rem;
  margin-left: 5rem !important;
}

.iracing-stats-row {
  margin-bottom: 2rem;
  margin-top: 1rem !important;
  box-shadow: 2px 2px 1px 1px rgba(231, 231, 231, 0.2);
  border-top-right-radius: 6px 6px;
  border-bottom-right-radius: 6px 6px;
  border-top-left-radius: 6px 6px;
  border-bottom-left-radius: 6px 6px;
  max-width: 42rem;
  margin-left: 5rem !important;
}

.incident-stats-row {
  margin-bottom: 2rem;
  box-shadow: 2px 2px 1px 1px rgba(231, 231, 231, 0.2);
  border-top-right-radius: 6px 6px;
  border-bottom-right-radius: 6px 6px;
  border-top-left-radius: 6px 6px;
  border-bottom-left-radius: 6px 6px;
  max-width: 42rem;
  margin-left: 5rem !important;
}

.landing-container {
  justify-content: center;
  max-width: 960px !important;
}/*# sourceMappingURL=LandingPage.css.map */

.hero-text-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: rgb(89, 89, 89);
  font-weight: lighter;
  padding-top: 30px;
  font-family: monospace !important;
}

@media (max-width: 600px) {
  .member-stats-left, .iracing-stats-left, .incident-stats-left {
    max-width: 80% !important;
    max-height: 4rem;
  }
  .fa-2x {
    display: none
  }
  .incident-stats-row .iracing-stats-row .member-stats-row {
    margin-left:1rem !important;
    padding-right: 10px !important;
  }
}
