@import "../variables/Variables.scss";
@import url("https://fonts.googleapis.com/css?family=Padauk");
* {
  font-family: "Padauk" !important;
}

.memberNameRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 2rem;
    font-size: 3rem;
    background: -webkit-linear-gradient(45deg, $darkGreen2, $brandColor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.categoryNameRow{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 1rem;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 2rem;
    font-size: 2rem;
    background-image: linear-gradient( 109.6deg,  rgb(240, 240, 240) 11.2%, rgb(255, 255, 255) 91.1% );
    border-radius: 5px;
    color: $darkGreen;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
    width: 12rem;
}

.statsNameRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 0px;
    margin-top: 2rem;
    font-size: 1rem;
    color: rgb(82, 82, 82);
    background-image: linear-gradient( 45deg, rgb(225, 225, 225), rgb(235, 235, 235));
    background-size:100% 5px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.statsValueRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 2rem;
    height: 6rem;
    font-size: 1rem;
    color: gray;
    background-color: rgb(250, 250, 250);
}

.avgsNameRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 0px;
    margin-top: 2rem;
    font-size: 1rem;
    color: rgb(82, 82, 82);
    background-image: linear-gradient( 45deg, rgb(225, 225, 225), rgb(235, 235, 235));
    background-size:100% 5px ;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.avgsValueRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 2rem;
    height: 6rem;
    font-size: 1rem;
    color: gray;
    background-color: rgb(250, 250, 250);
}

.valueColItem {
    border-right: 2px solid rgb(245, 245, 245);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mem_stats_value_row {
    font-size: 1.4rem;
}

.mem_stats_value_name_row {
    white-space: nowrap;
    font-size: .8rem;
}

.mem_stats_subCol {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}